* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: #fff;
  --main-color: #0ef;
 }



 /*.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 9%;
  background-color: var(--bg-color);
  padding: 0.5%;
 }*/

 
 section {
  min-height: 100vh;
  padding: 10rem 9% 2rem;
 }

 .header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
 }

 .header .sticky {
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
 }

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

section {
  padding: 10rem 9% 2rem;
  scroll-margin-top: 70px;
 }


p {
  font-size: 15px;
  color: var(--text-color);
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color:var(--bg-color);
  padding: 0.5% 9%;
  position: sticky;
  top: 0;
  z-index: 1000;
  flex-wrap: wrap;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}


 .logo {
  font-size: 30px;
  color: var(--text-color);
  font-weight: 700;
  cursor: default;
  margin-left: 20px;
  margin-right: auto;
  line-height: 1;
 }

 .navbar a {
  font-size: 1rem;
  color: var(--text-color);
  transition: o.3s;
  line-height: 1;
  text-decoration: none;
 }

 .navbar ul {
  display: flex;
  gap: 1rem;
  padding: 0;
  margin:0;
  align-items: center;
  list-style: none;
 }

 .navbar ul li {
  margin: 0;

 }

 .navbar a:hover, .navbar a.active {
  color: var(--main-color);
 }


  .dashboard-btn {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  font-size: 1rem;
  padding: 0.2rem o.5rem;
  border-radius: 12px;
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--main-color);
  margin-left: 1rem;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin-bottom: 25px;
  margin-top: 60px;
}

.home-content h1 {
  font-size: 5rem;
  font-weight: 700;
  color: var(--text-color);
  margin: 10px 0;
  line-height: 1.1;
}

.home-content h3 {
  font-size: 2.6rem;
  font-weight: 700;
  color:var(--text-color);
  margin: 6px 0;
}

.home-content p {
  margin-top: 10px;
}


.home-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 150px;
  margin-top: 4rem;
}

.btn, 
button {
  margin-top: 15px;
  background-color: var(--main-color);
  color:var(--text-color);
  font-size: 16px;
  padding: 10px 18px;
  border: none;
  border-radius: 4rem;
}

.about{
  background-color: var(--second-bg-color);
  padding: 6rem 9% 4rem;
}

.about-container {
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}

.about-image {
  flex: 0 0 200px;
}

.about-image img {
   width: 250px;
   height: 250px;
   border-radius: 150px;
   object-fit: cover;
   display: block;
}

.about-content {
  flex: 1;
}

.about-content h2 {
  color: var(--main-color);
  margin: 0 0 1rem 0;
  font-size: 2rem;
}

.about-content p {
  color: var(--text-color);
  margin-bottom: 2rem;
  line-height: 1.4;
}

.about-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  margin-top: 1rem;
}

.about-box {
  background-color: var(--bg-color);
  padding: 1rem;
  border-radius: 8px;
  text-align: center;
}
.about-box h4 {
  color: var(--main-color);
  margin-bottom: 0.5rem;
}

.about-box p {
  color: var(--text-color);
}

.about-content p span {
  font-size: 1.2rem;
}


.skills {
  background-color: var(--bg-color);
}

.skill-content h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--main-color);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.skill-box {
  background-color: var(--second-bg-color);
  padding: 2rem;
  border-radius: 10px;
}

.skill-box h3 {
  margin-bottom: 1rem;
  color: var(--main-color);
}

.skill-box ul {
  display: block;
  padding-left: 20px;
}

.skill-box ul li {
  list-style: disc;
  margin-bottom: 8px;
}

.skill-double {
  grid-column: span 2;
}




section > div > h2 {
  text-align: center;
  margin-bottom: 3rem;
  color: var(--main-color);
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: auto;
}

.project-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.projects h2 {
  text-align: center;
  color: var(--main-color);
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.project-card {
  background-color: var(--second-bg-color);
  border-radius: 12px;
  text-align: center;
}

.project-card h4,
.project-card h3 {
  margin-bottom: 1rem;
  color:var(--main-color);
}

.project-card p {
  font-size: 14px;
}

.project-card img {
  width: 100%;
  height: 180px;
  border-radius: 10px;
  object-fit: cover;
  margin: 1rem 0;
}

.project-card:last-child {
  grid-column: span 2;
}

.testimonials {
  padding: 6rem 9% 4rem;
  background-color: var(--bg-color);
}

.testimonials h2 {
  text-align: center;
  font-size: 2.5rem;
  color: var(--main-color);
  margin-bottom: 3rem;
}

.testimonial-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 2rem;
}

.testimonial-card {
  background-color: var(--second-bg-color);
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3);
}

.testimonial-card p {
  font-size: 14px;
  color:var(--text-color);
  margin-bottom: 1.5rem;
  line-height: 1.6rem;
}

.testimonial-card h4 {
  color: var(--main-color);
  font-weight: 600;
  font-size: 1rem;
}

.contact form .input-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact h2 {
  margin-bottom: 3rem;
  color: var(--main-color);
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto 3rem;
  text-align: center;
}

.contact form .input-box, 
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1rem;
  color: var(--text-color);
  background-color: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 1rem 0;
  border: none;
}



.dashboard {
  background-color: var(--second-bg-color);
  color: var(--text-color);
  padding: 6rem 9%;
}

.dashboard h3 {
  color:var(--main-color) ;
}

.dashboard input {
  color: #333;
  font-size: 14px;
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
}



button a {
  color: var(--text-color);
  text-decoration: none;
}

span {
  color: var(--main-color);
  font-size: 25px;
}

#dream {
  color: var(--main-color);
  font-size: 14px;
  text-align: center;
  padding: 20px;
}

img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  margin-top: 4rem;
  border-radius: 150px;
}


